{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<br>
<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/bg2.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Riley Litchfield <br> Full Stack Web Developer</h1>
  </div>
</div>

<br>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h4 class="font-weight-bold">
      <i class="fas fa-envelope"></i><b> Email:</b> <a href="mailto:rileylitchfield95@gmail.com">rileylitchfield95@gmail.com</a>
      <br>
      <i class="fas fa-phone"></i><b> Telephone:</b> <a href="tel:832-434-4239">832-434-4239</a>
    </h4>
  </div>
</div>

<br>
<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <a href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
    <a href="{{ project.url }}"><p>{{ project.description }}</p></a>

  </div>
  {% endfor %}
</div>



{% endblock %}
